.wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
}
.wrapper2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
}
.wrapper > div{
    background-color: black;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background-color: white;
}
.wrapper2 > div{
    background-color: white;
    padding: 1em;
}
.wrapper2 > div:nth-child(odd){
    background-color: black;
}